[Unit]
Description=Tftp Server
Requires=tftp.socket
Documentation=man:in.tftpd

[Service]
ExecStart=/usr/sbin/in.tftpd -s {{ tftpboot_path }} -u dnbd3
StandardInput=socket

[Install]
Also=tftp.socket
